html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.progress-pending {
    background-color: #FFD54F !important; /* soft amber yellow */
}


.bg-pending {
    background-color: #ffc107 !important; /* Yellow for Pending */
    color: #212529 !important; /* Dark text for contrast */
}

.bg-inprogress {
    background-color: #51c39d !important; /* Custom green for In Progress */
    color: white !important;
}

.bg-completed {
    background-color: #198754 !important; /* Dark green for Completed */
    color: white !important;
}
